# Lecture 2

- - -
author: Sam Lau   
editor: Kevin Shuey      
title: Lecture 2  
date: 2023-06-14     
ref: ucb_Data100    
- - -

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

## Reading in DataFrames from Files

There are 3 fundamental data structures in pandas:
* **Data Frame:** 2D tabular data. For a data frame, row values may not be unique but column values are.
* **Data Series:** 1D columnar data.
* **Index:** A sequence of row labels.

Pandas has a number of very useful file reading tools. It could be enumerated by typing `pd.re` and pressing <TAB>.

In [2]:
elections = pd.read_csv("elections.csv")
elections

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
..       ...          ...   ...   ...    ...
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

[23 rows x 5 columns]

In [3]:
elections.shape

(23, 5)

In [4]:
elections.size

115

In [5]:
elections.describe() 
# show numeric columns only

               %         Year
count  23.000000    23.000000
mean   42.513043  1996.869565
std    13.476117    11.627961
...          ...          ...
50%    47.200000  1996.000000
75%    49.950000  2006.000000
max    58.800000  2016.000000

[8 rows x 2 columns]

Use the `head` command to show only a few rows of a dataframe.

In [6]:
elections.head(7)
# by default, 5 rows

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss

There is also a `tail` command.

In [7]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The `read_csv` command specifies a column to use an index.  

For example, we could have used 'Year' as the index.

In [8]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

Alternately, we could have used the `set_index` commmand.

In [9]:
elections_party_index = elections.set_index("Party")
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

The `set_index` command (along with almost all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched.   

Note: There is a flag called "inplace" which does modify the calling dataframe.

In [10]:
elections.head() 
# the index remains unchanged

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [11]:
original = elections
elections = elections.set_index('Year')

original.head(2)

  Candidate       Party     %  Year Result
0    Reagan  Republican  50.7  1980    win
1    Carter  Democratic  41.0  1980   loss

In [12]:
elections.head(2)

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss

In [13]:
elections = original
elections.set_index('Year', inplace=True)
original.head(2)

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss

In [14]:
elections = pd.read_csv('elections.csv')
elections.head(2)

  Candidate       Party     %  Year Result
0    Reagan  Republican  50.7  1980    win
1    Carter  Democratic  41.0  1980   loss

Remeber that column names MUST be unique.   
 
For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates.

## The `[]` Operator

The DataFrame class has an indexing operator `[]` with diverse functions. Provide a String to the `[]` operator to get back a Series corresponding to the requested label.

In [15]:
elections["Candidate"].head(6)

0      Reagan
1      Carter
2    Anderson
3      Reagan
4     Mondale
5        Bush
Name: Candidate, dtype: object

The `[]` operator also accepts a list of strings. In this case, it will return a DataFrame corresponding to the requested strings.

In [16]:
elections[["Candidate", "Party"]].head(6)

  Candidate        Party
0    Reagan   Republican
1    Carter   Democratic
2  Anderson  Independent
3    Reagan   Republican
4   Mondale   Democratic
5      Bush   Republican

A list of one label also returns a DataFrame. This can be handy for the results to be a DataFrame, not a series.

In [17]:
elections[["Candidate"]].head(6)
# return a DataFrame

  Candidate
0    Reagan
1    Carter
2  Anderson
3    Reagan
4   Mondale
5      Bush

Note that we can also use the `to_frame` method to turn a Series into a DataFrame.

In [18]:
elections["Candidate"].to_frame()

   Candidate
0     Reagan
1     Carter
2   Anderson
..       ...
20    Romney
21   Clinton
22     Trump

[23 rows x 1 columns]

The `[]` operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

In [19]:
elections[0:3]

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss

If you provide a single argument to the `[]` operator, it tries to use it as a name. This is true even if the argument passed to `[]` is an integer.

In [20]:
# elections[0] 
# This does not work, as panda is trying to find the name '0'.

For a test of understanding:

In [21]:
weird = pd.DataFrame({1:["topdog","botdog"], "1":["topcat","botcat"]})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [22]:
weird[1] 
# There are two column in this DataFrame.    
# One is number '1', the other is string '1', which is totally different.
# As a result, it returns a series with column name number '1'.

0    topdog
1    botdog
Name: 1, dtype: object

In [23]:
weird[["1"]] 
# It returns a DataFrame with column name string '1'.

        1
0  topcat
1  botcat

In [24]:
weird[1:] 
# Recall again that index starts from '0'.

        1       1
1  botdog  botcat

## Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a filtered version of the data frame, where only rows corresponding to `True` appear.

In [25]:
elections[[False, False, False, False, False, 
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, False, True]]

   Candidate       Party     %  Year Result
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
22     Trump  Republican  46.1  2016    win

One very common task in Data Science is filtering. Boolean Array Selection is one way to achieve this in Pandas. Start by observing logical operators like `=` can be applied to Pandas Series data to generate a Boolean Array.   

For example, we can compare the 'Result' column to the String 'win':

In [26]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [27]:
iswin = elections['Result'] == 'win'
iswin.head(5)
# return an array

0     True
1    False
2    False
3     True
4    False
Name: Result, dtype: bool

In [28]:
elections[iswin]

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
..       ...         ...   ...   ...    ...
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

[10 rows x 5 columns]

The output of the logical operator applied to the Series is another Series with the same name and index, but of datatype boolean. The entry with index i represents the result of the application of that operator to the entry of the original Series with index i.

In [29]:
elections[elections['Party'] == 'Independent']

   Candidate        Party     %  Year Result
2   Anderson  Independent   6.6  1980   loss
9      Perot  Independent  18.9  1992   loss
12     Perot  Independent   8.4  1996   loss

In [30]:
elections['Result'].head(5)

0     win
1    loss
2    loss
3     win
4    loss
Name: Result, dtype: object

These boolean Series can be used as an argument to the `[]` operator.   

For example, the following code creates a DataFrame of all election winners since 1980.

In [31]:
elections.loc[iswin]

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
..       ...         ...   ...   ...    ...
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

[10 rows x 5 columns]

Instead of assigned the result of the logical operator to a new variable called `iswin` which is uncommon, usually the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

In [32]:
elections[elections['Result'] == 'win']

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
..       ...         ...   ...   ...    ...
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

[10 rows x 5 columns]

Select multiple criteria by creating multiple boolean Series and combining them using the `&`, `|` operator. Avoid using Python operator like `and`, `or`.

In [33]:
elections[(elections['Result'] == 'win')
          & (elections['%'] < 50)]

   Candidate       Party     %  Year Result
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
22     Trump  Republican  46.1  2016    win

## Loc and ILOC

In [34]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [35]:
elections.loc[[0, 1, 2, 3, 4], ['Candidate','Party', 'Year']]

  Candidate        Party  Year
0    Reagan   Republican  1980
1    Carter   Democratic  1980
2  Anderson  Independent  1980
3    Reagan   Republican  1984
4   Mondale   Democratic  1984

Loc also supports slicing (for all types, including numeric and string labels!).  

Note: The slicing for loc is **inclusive**, even for numeric slices.

In [36]:
elections.loc[0:4, 'Candidate':'Year']

  Candidate        Party     %  Year
0    Reagan   Republican  50.7  1980
1    Carter   Democratic  41.0  1980
2  Anderson  Independent   6.6  1980
3    Reagan   Republican  58.8  1984
4   Mondale   Democratic  37.6  1984

Provided only a single label for the column argument, it retuns a Series.

In [37]:
elections.loc[0:4, 'Candidate']

0      Reagan
1      Carter
2    Anderson
3      Reagan
4     Mondale
Name: Candidate, dtype: object

For a data frame instead and don't want to use `to_frame`, provide a list containing the column name.

In [38]:
elections.loc[0:4, ['Candidate']]
# elections['Candidate'][0:5] 

# The outputs of these two are identical: Difference in slicing could be seen.

  Candidate
0    Reagan
1    Carter
2  Anderson
3    Reagan
4   Mondale

For only one row but many column labels, it returns a Series corresponding to a row of the table. This new Series has a neat index, where each entry is the name of the column that the data came from.

In [39]:
elections.loc[0, 'Candidate':'Year']
# return a series

Candidate        Reagan
Party        Republican
%                  50.7
Year               1980
Name: 0, dtype: object

In [40]:
elections.loc[[0], 'Candidate':'Year']
# return a DataFrame if '0' is listed

  Candidate       Party     %  Year
0    Reagan  Republican  50.7  1980

Omit the column argument altogether, the default behavior is to retrieve all columns.

In [41]:
elections.loc[[2, 4, 5]]

  Candidate        Party     %  Year Result
2  Anderson  Independent   6.6  1980   loss
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win

Loc also supports boolean array inputs instead of labels. If the arrays are too short, loc assumes the missing values are False.

In [42]:
# elections.loc[[True, False, False, True], [True, False, False, True]]

In [43]:
elections.loc[[0, 3], ['Candidate', 'Year']]

  Candidate  Year
0    Reagan  1980
3    Reagan  1984

We can use boolean array arguments for one axis of the data, and labels for the other.

In [44]:
# elections.loc[[True, False, False, True], 'Candidate':'%']

Boolean Series are also boolean arrays, so we can use the Boolean Array Selection from earlier using loc as well.

In [45]:
elections.loc[(elections['Result'] == 'win') 
              & (elections['%'] < 50), 
                'Candidate':'%']

   Candidate       Party     %
7    Clinton  Democratic  43.0
10   Clinton  Democratic  49.2
14      Bush  Republican  47.9
22     Trump  Republican  46.1

Do a quick example using data with string-labeled rows instead of integer labeled rows:

In [46]:
mottos = pd.read_csv("mottos.csv", index_col = "State")
mottos.head(5)

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849

As you'd expect, the rows to extract can be specified using slice notation, even if the rows have string labels instead of integer labels.

In [47]:
mottos.loc['California':'Florida', ['Motto', 'Language']]

                                Motto Language
State
California            Eureka (Εὕρηκα)    Greek
Colorado              Nil sine numine    Latin
Connecticut   Qui transtulit sustinet    Latin
Delaware     Liberty and Independence  English
Florida               In God We Trust  English

Sometimes students are so used to thinking of rows as numbered that they try the following, which will not work.

In [48]:
mottos_extreme = pd.read_csv("mottos_extreme.csv", index_col='State')
mottos_extreme.loc['California']

                                 Motto      Translation Language Date Adopted
State
California             Eureka (Εὕρηκα)  I have found it    Greek         1849
California  We are the real California                —  English         2006

In [49]:
# mottos_extreme.loc['California':'Delaware']
# Rows are not numbered.

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. iloc slicing is **exclusive**, just like standard Python slicing of numerical values.

In [50]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [51]:
elections.iloc[0:3, 0:3]

  Candidate        Party     %
0    Reagan   Republican  50.7
1    Carter   Democratic  41.0
2  Anderson  Independent   6.6

In [52]:
mottos.iloc[0:3, 0:3]

                                 Motto                 Translation Language
State
Alabama  Audemus jura nostra defendere  We dare defend our rights!    Latin
Alaska             North to the future                           —  English
Arizona                     Ditat Deus                God enriches    Latin

Loc is generally preferred for a number of reasons, for example: 

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g. what column #31 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient.

## Handy Properties and Utility Functions for Series and DataFrames

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with.   

For example:

In [53]:
mottos.head(5)

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849

In [54]:
mottos.size

200

The fact that the size is 200 means our data file is relatively small, with only 200 total entries.

In [55]:
mottos.shape

(50, 4)

After looking at data for stateswith number 50, it looks like we've mostly likely got a complete dataset that omits Washington D.C. and U.S. territories like Guam and Puerto Rico.

In [56]:
mottos.describe()

                                Motto Translation Language Date Adopted
count                              50          49       50           50
unique                             50          30        8           47
top     Audemus jura nostra defendere           —    Latin         1893
freq                                1          20       23            2

Above is a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states.

We can get a direct reference to the index using `.index`.

In [57]:
mottos.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='State')

Access individual properties of the index, e.g. `mottos.index.name`.

In [58]:
mottos.index.name

'State'

This reflects the fact that in the data frame, the index is the state!

In [59]:
mottos.head(2)

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967

It turns out the columns also have an Index. Access this index by using `.columns`.

In [60]:
mottos.columns

Index(['Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')

There are also a ton of useful utility methods we can use with Data Frames and Series. 

For example, create a copy of a data frame sorted by a specific column using `sort_values`.

In [61]:
elections.sort_values('%')

   Candidate        Party     %  Year Result
2   Anderson  Independent   6.6  1980   loss
12     Perot  Independent   8.4  1996   loss
9      Perot  Independent  18.9  1992   loss
..       ...          ...   ...   ...    ...
17     Obama   Democratic  52.9  2008    win
5       Bush   Republican  53.4  1988    win
3     Reagan   Republican  58.8  1984    win

[23 rows x 5 columns]

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless setting inplace to True.

In [62]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

If we want to sort in reverse order, we can set `ascending=False`.

In [63]:
elections.sort_values('%', ascending=False)

   Candidate        Party     %  Year Result
3     Reagan   Republican  58.8  1984    win
5       Bush   Republican  53.4  1988    win
17     Obama   Democratic  52.9  2008    win
..       ...          ...   ...   ...    ...
9      Perot  Independent  18.9  1992   loss
12     Perot  Independent   8.4  1996   loss
2   Anderson  Independent   6.6  1980   loss

[23 rows x 5 columns]

Also use `sort_values` on Series objects:

In [64]:
mottos['Language'].sort_values().head(10)

State
Washington      Chinook Jargon
Wyoming                English
New Jersey             English
                     ...
Pennsylvania           English
Rhode Island           English
South Dakota           English
Name: Language, Length: 10, dtype: object

For Series, the `value_counts` method is often quite handy.

In [65]:
elections['Party'].value_counts()

Party
Republican     10
Democratic     10
Independent     3
Name: count, dtype: int64

In [66]:
mottos['Language'].value_counts()

Language
Latin             23
English           21
Greek              1
                  ..
French             1
Spanish            1
Chinook Jargon     1
Name: count, Length: 8, dtype: int64

Also commonly used is the `unique` method, which returns all unique values as a numpy array.

In [67]:
mottos['Language'].unique()

array(['Latin', 'English', 'Greek', 'Hawaiian', 'Italian', 'French',
       'Spanish', 'Chinook Jargon'], dtype=object)

## Case Study: What was the most popular name in California last year (2019)?

https://www.ssa.gov/OACT/babynames/index.html

https://www.ssa.gov/data

Download data from the internet with Python, and do so only if needed:

In [68]:
import requests
from pathlib import Path

namesbystate_path = Path('namesbystate.zip')
data_url = 'https://www.ssa.gov/oact/babynames/state/namesbystate.zip'

if not namesbystate_path.exists():
    print('Downloading...', end=' ')
    resp = requests.get(data_url)
    with namesbystate_path.open('wb') as f:
        f.write(resp.content)
    print('Done!')

Use Python to understand how this data is laid out:

In [69]:
import zipfile
zf = zipfile.ZipFile(namesbystate_path, 'r')
print([f.filename for f in zf.filelist])

['STATE.AK.TXT', 'STATE.AL.TXT', 'STATE.AR.TXT', 'STATE.AZ.TXT', 'STATE.CA.TXT', 'STATE.CO.TXT', 'STATE.CT.TXT', 'STATE.DC.TXT', 'STATE.DE.TXT', 'STATE.FL.TXT', 'STATE.GA.TXT', 'STATE.HI.TXT', 'STATE.IA.TXT', 'STATE.ID.TXT', 'STATE.IL.TXT', 'STATE.IN.TXT', 'STATE.KS.TXT', 'STATE.KY.TXT', 'STATE.LA.TXT', 'STATE.MA.TXT', 'STATE.MD.TXT', 'STATE.ME.TXT', 'STATE.MI.TXT', 'STATE.MN.TXT', 'STATE.MO.TXT', 'STATE.MS.TXT', 'STATE.MT.TXT', 'STATE.NC.TXT', 'STATE.ND.TXT', 'STATE.NE.TXT', 'STATE.NH.TXT', 'STATE.NJ.TXT', 'STATE.NM.TXT', 'STATE.NV.TXT', 'STATE.NY.TXT', 'STATE.OH.TXT', 'STATE.OK.TXT', 'STATE.OR.TXT', 'STATE.PA.TXT', 'STATE.RI.TXT', 'STATE.SC.TXT', 'STATE.SD.TXT', 'STATE.TN.TXT', 'STATE.TX.TXT', 'STATE.UT.TXT', 'STATE.VA.TXT', 'STATE.VT.TXT', 'STATE.WA.TXT', 'STATE.WI.TXT', 'STATE.WV.TXT', 'STATE.WY.TXT', 'StateReadMe.pdf']

Pull the PDF readme to view it, or operate with the rest of the data in its compressed state:

In [70]:
zf.extract('StateReadMe.pdf')

'/Users/kevinshuey/Github/cs_notes/data_python/lec02/StateReadMe.pdf'

Have a look at the California data, and it gives an idea about the structure of the whole thing:

In [71]:
ca_name = 'STATE.CA.TXT'
with zf.open(ca_name) as f:
    for i in range(10):
        print(f.readline().rstrip().decode())

CA,F,1910,Mary,295
CA,F,1910,Helen,239
CA,F,1910,Dorothy,220
CA,F,1910,Margaret,163
CA,F,1910,Frances,134
CA,F,1910,Ruth,128
CA,F,1910,Evelyn,126
CA,F,1910,Alice,118
CA,F,1910,Virginia,101
CA,F,1910,Elizabeth,93

This is equivalent (on macOS or Linux) to extracting the full `CA.TXT` file to disk and then using the `head` command (if you're on Windows, don't try to run the cell below):

In [72]:
zf.extract(ca_name)
!head {ca_name}

CA,F,1910,Mary,295

CA,F,1910,Helen,239

CA,F,1910,Dorothy,220

CA,F,1910,Margaret,163

CA,F,1910,Frances,134

CA,F,1910,Ruth,128

CA,F,1910,Evelyn,126

CA,F,1910,Alice,118

CA,F,1910,Virginia,101

CA,F,1910,Elizabeth,93

In [73]:
!echo {ca_name}

STATE.CA.TXT

A couple of practical comments:

* The above is using special tricks in IPython that let you call operating system commands via `!cmd`, and that expand Python variables in such commands with the `{var}` syntax.   

More about IPython's special tricks [in this tutorial](https://github.com/ipython/ipython-in-depth/blob/master/examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb).

* `head` doesn't work on Windows, though there are equivalent Windows commands. But by using Python code, even if it's a little bit more verbose, we have a 100% portable solution.

* If the `CA.TXT` file was huge, it would be wasteful to write it all to disk only to look at the start of the file.

The last point is an important, and general theme of this course: try to learn how to operate with data only on an as-needed basis, because there are many situations in the real world where brute-forcing 'download all the things' is unaffordable.

Remove the `CA.TXT` file to make sure to keep working with compressed data, as if we couldn't extract it:

In [74]:
import os; os.unlink(ca_name)

## Question 1: What was the most popular name in CA last year?

In [75]:
import pandas as pd

field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    ca = pd.read_csv(fh, header=None, names=field_names)
ca.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

### Indexing Review

Play around a bit with indexing techniques.

In [76]:
ca['Count'].head()

0    295
1    239
2    220
3    163
4    134
Name: Count, dtype: int64

In [77]:
ca[0:3]

  State Sex  Year     Name  Count
0    CA   F  1910     Mary    295
1    CA   F  1910    Helen    239
2    CA   F  1910  Dorothy    220

In [78]:
#ca[0]

In [79]:
ca.iloc[:3, -2:]

      Name  Count
0     Mary    295
1    Helen    239
2  Dorothy    220

In [80]:
ca.loc[0:3, 'State']

0    CA
1    CA
2    CA
3    CA
Name: State, dtype: object

In [81]:
ca['Name'].head()

0        Mary
1       Helen
2     Dorothy
3    Margaret
4     Frances
Name: Name, dtype: object

In [82]:
ca[['Name']].head()

       Name
0      Mary
1     Helen
2   Dorothy
3  Margaret
4   Frances

In [83]:
ca[ca['Year'] == 2017].tail()

       State Sex  Year     Name  Count
393145    CA   M  2017  Zealand      5
393146    CA   M  2017     Zeth      5
393147    CA   M  2017    Zeyad      5
393148    CA   M  2017     Ziad      5
393149    CA   M  2017      Ziv      5

## Understanding the Data

In [84]:
ca.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

We can get a sense for the shape of our data:

In [85]:
ca.shape

(407428, 5)

In [86]:
ca.size  
# rows x columns

2037140

Pandas will return a summary overview of the *numerical* data in the DataFrame:

In [87]:
ca.describe()

                Year          Count
count  407428.000000  407428.000000
mean     1985.733609      79.543456
std        27.007660     293.698654
...              ...            ...
50%      1992.000000      13.000000
75%      2008.000000      38.000000
max      2022.000000    8260.000000

[8 rows x 2 columns]

And the *structure* of the DataFrame:

In [88]:
ca.index

RangeIndex(start=0, stop=407428, step=1)

### Sorting

What have been done so far is NOT exploratory data analysis. After just playing around a bit with the capabilities of the pandas library, turn to the problem at hand: Identifying the most common name in California last year.

In [89]:
ca2017 = ca[ca['Year'] == 2017]
ca_sorted = ca2017.sort_values('Count', ascending=False).head(10)
ca_sorted

       State Sex  Year     Name  Count
217430    CA   F  2017     Emma   2740
217431    CA   F  2017      Mia   2604
390219    CA   M  2017     Noah   2527
...      ...  ..   ...      ...    ...
390221    CA   M  2017     Liam   2190
390222    CA   M  2017    Ethan   2151
390223    CA   M  2017  Matthew   2138

[10 rows x 5 columns]